body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1 {
    text-align: center;
}
.navbar ul {
    list-style: none;
    background-color: rgb(51, 50, 50);
    margin: 0px;
    overflow: hidden;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover {
    background-color: rgb(5, 5, 5);
}
.navbar li {
    float: left;
}
